body {
	color: #333;	
	font-family: 'Essays 1743';
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	
	padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px; top: 0px;
}

.slider {
	padding-bottom:150px;
	position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 50px;
    display: block;
}
.slides {
	width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	overflow:hidden;
	padding-top:45px;
    position: absolute;
    display: block;
}
.note {
	font-size: 10pt;
}
.removeOverflow {
	overflow:visible;
}

section {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

	display:block;
	left: 50%;
	margin-left: -490px;
	position:absolute;
	height:100%;
	width: 980px;
	z-index:0;
}
header {
	font-weight: bold;
	text-align:center;
}
a {
	text-decoration: none;
	color: #333;
}
footer {
	clear: left;
	display: block;
	font-size: 10pt;
	margin-top: 10px;
	position: absolute;
	text-align: center;
	top: 90%;
	width: 100%;
}
.content-body {
	overflow:hidden;
	margin: 0px auto;
}
.content-body .row {
	margin-left: 16px;
	width: 100%;
}

.previous {
	margin-left: -9000px !important;
}
.next {
	margin-left: 9000px !important;
}

.loading-body {
	font-size: 20pt;
	margin-top: 15px;
	position: relative;
	text-align: center;
	top: 25%;
}


/********Start Play Menu CSS***********/
.content-body .row .playList {
	list-style:none;
	overflow:hidden;
}
.content-body .row .playList .playItem {
	float:left;
	margin: 15px 35px;
	text-align:center;
	width:150px;
}
.content-body .row .playList .playItem a {
	display:block;
	padding:5px;
	width:150px;
}
a:hover{
	border: 2px solid #666;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	margin:-2px;
}
/********End Play Menu CSS***********/

/********Start Tooltip CSS***********/
.content-body .row .playList .playDescription{
	/* Handles the CSS animation timing*/
	-webkit-transition: all 0.43s ease-in;
	-moz-transition: all 0.4s ease-in;
	
	background:#FFF;
	border: 2px solid #666;
	-webkit-border-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	margin-left: 160px;
	margin-top:-110px;
	opacity:0;
	padding:30px;
	position:absolute;
	top:auto;
	visibility:hidden;
	width:200px;
	z-index:100;
}
.content-body .row .playList .playItem a:hover + .playDescription {
	opacity:1.0;
	visibility:visible;
	
	/* Give a little movement for the tooltip hover */
	-webkit-transform: translate(10px);
	-moz-transform: translate(10px);
}
.content-body .row .playList .playDescription .descrTitle{
	font-weight:bold;
}
.content-body .row .playList .playDescription .descrData {
	text-align:left;
	width:100%;
}
/********End Tooltip CSS***********/

/********Start Play CSS***********/
#play {
  width: 80%;
  margin-left: -40%;
}
#backButton {
	display: block;
	float: left;
	font-size: 14pt;
	margin: 5px;
	padding: 5px;
}
#backButton:hover {
	margin:3px;
}
#playNode .actNode {
	overflow:hidden;
	float:left;
	margin-bottom:30px;
}
#playNode .actNode .sceneNode {
	margin-bottom:30px;
}
#playNode .actNode .actTitle {
	font-size:16pt;
}
#playNode .actNode .sceneTitle {
	font-size:14pt;	
}
#playNode .actNode .actTitle,
#playNode .actNode .sceneTitle {
	margin-bottom:10px;
	text-align:center;
}
#playNode .actNode .speechRight div {
	text-align: right;
}
#playNode .actNode .speechLeft div {
	text-align: left;
}
#playNode .actNode .speechRight,
#playNode .actNode .speechLeft,
#playNode .actNode .speechRight div,
#playNode .actNode .speechLeft div{
	width:100%;
} div,
#playNode .actNode .speechLeft div{
	width:100%;
}
/********End Play CSS***********/